
.nav-btns {
    width: 7rem;
    /* margin: 1rem; */
}
.nextBtn {
    position: absolute;
    top: 81%;
    left: 23%;
    transform: translate(-50%, -50%);
}
.backBtn {
    position: absolute;
    top: 81%;
    left: 78%;
    transform: translate(-50%, -50%);
}
.disabled {
    opacity: 0.5;
}