.end-character {
    margin-left: 1rem;
}
.back-to-learning-btn {
    margin-top: 0.5rem;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 0.5rem;
  }
  
  .back-to-learning-btn:hover {
    
  }