.end-character {
    margin-left: 1rem;
}
.back-to-learning-btn {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #555;
    text-decoration: underline;
  }
  
  .back-to-learning-btn:hover {
    color: #000;
  }